/* TAG SELECTORS */
body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* ID SELECTORS */
#title {
  background-color: #ff4c68;
}

/* CLASS SELECTORS */
.container-fluid {
  padding: 3% 12% 7%;
}

.meet-new {
  color: white;
}

/* NAVIGATION BAR */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 13px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.title-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* DOWNLOAD BUTTONS */
.download-button {
  font-weight: 300;
  margin: 5% 1.5% 5% 0;
}

/* TITLE IMAGE */
.img-fluid {
  height: auto;
  margin-bottom: 20px;
  margin-right: 15%;
  padding: 5px 25px;
  position: absolute;
  transform: rotate(20deg);
  width: 70%;
}

/* FEATURES */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.feature-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  color: #ef8172;
  margin-bottom: 25px;
}

.icon:hover {
  color: #ff4c68;
}

/* TESTIMONIALS */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.testimonials-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}

/* PRESS */
#press {
  background-color: #ef8172;
  padding-bottom: 2%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 12%;
}

/* PRICING */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* CARD DECK */
.row {
  margin: auto;
  width: 90%;
}

/* CALL TO ACTION */
#cta {
  background-color: #ff4c68;
  padding: 3% 15%;
  text-align: center;
}

.cta-heading {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  margin: auto;
  width: 70%;
}

.cta-button {
  font-weight: 300;
  margin: 2% 1.5% 2% 0;
}

/* NEWSLETTER */
.newsletter-form {
  padding: 3% 15%;
  text-align: center;
}

.subscribe-text {
  font-size: 1rem;
  padding: 0 32%;
}

.form {
  padding: 3% 30%;
  text-align: center;
}

/* FOOTER */
#footer {
  background-color: #fff;
  padding: 6% 35%;
  text-align: center;
}

.social {
  font-size: 25px;
  padding-bottom: 0.5rem;
  position: relative;
}

.social-media {
  margin-left: 10px;
  margin-right: 10px;
}

.p-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}